<main>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()" method="post">
    <h2>Login</h2>

    <div class="campo-input">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" name="email" required />
    </div>

    <div class="campo-input">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="senha" name="password" required />
    </div>

    <button class="button-form" type="submit">Entrar</button>

    <p>Não tem conta criada? <span (click)="openDialog()">clique aqui</span></p>
  </form>

  <app-modal [showModal]="showModal" (closeModal)="closeDialog()" [title]="'Cadastro'">
    <form class="form" [formGroup]="createForm" (ngSubmit)="create()" method="post">
      <div class="campo-input">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" name="email" required />
      </div>

      <div class="campo-input">
        <label for="name">Nome:</label>
        <input type="text" id="name" formControlName="nome" name="name" required />
      </div>

      <div class="campo-input">
        <label for="password">Senha:</label>
        <input type="password" id="password" formControlName="senha" name="password" required />
      </div>

      <button class="button-form" type="submit">Cadastrar</button>
    </form>
  </app-modal>
</main>
