@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";

.modal-overlay {
  @include widthHeight.widthHeight(100%, 100%, 100%);
  @include flex.flex(none, center, center, 0, none);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    @include flex.flex(column, none, center, 10px, none);
    background-color: #1F2029;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;

    .modal-header { @include flex.flex(row, space-between, center, 10px, none); }

    .button {
      padding: 10px;
      width: 160px;
      border-radius: 30px;
      background-image: linear-gradient(#433774, #0e1b50);
      border: none;
      font-size: 16px;
      color: white;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        background-image: linear-gradient(#0e1b50, #433774);
        transition: 0.5s all;
      }
    }
  }

  &.hide-modal { display: none; }
}
