<main class="main">
  <article class="article">
    <div class="table">
      <div class="table-header">
        <form action="">
          <div>
            <label for="periodoInicial">Periodo Inicial</label>
            <input type="date" placeholder="Periodo Inicial" id="periodoInicial">
          </div>

          <div>
            <label for="periodoFinal">Periodo Final</label>
            <input type="date" placeholder="Periodo Final" id="periodoFinal">
          </div>

          <button>Buscar</button>
        </form>
      </div>

      <div class="entrys-deposits">
        <h2>Entradas</h2>

        <div class="sub-titles">
          <span>Descrição</span>
          <span>Valor</span>
        </div>

        <div class="sub-description">
          <span>Recebimento do Banco</span>
          <span>R$ 1200,00</span>
        </div>

        <div class="sub-total">
          <span>Total de entradas</span>
          <span>R$ 1200,00</span>
        </div>
      </div>

      <div class="entrys-deposits">
        <h2>Saidas</h2>
        <div class="sub-titles">
          <span>Descrição</span>
          <span>Valor</span>
        </div>

        <div class="sub-description">
          <span>Sacando dinheiro do banco de Banco</span>
          <span>R$ 450,00</span>
        </div>

        <div class="sub-total">
          <span>Total de saidas</span>
          <span>R$ 450,00</span>
        </div>
      </div>

      <div class="total">
        <span class="total">Total no periodo marcado: R$ 750,00</span>
      </div>  
    </div>
  </article>
</main>
